.ImageGrid {
    /* center it on the page */
    /* width: 70%; */
    margin: 5% auto;
    width: 50%
}

.grid {
    /* set it up as a grid with 3 columns, and a gap between images */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

img {
    /* standardize height */
    height: 150px;
    /* make everything square */
    aspect-ratio: 1;
    /* make sure image is cropped, not distorted */
    object-fit: cover;
    /* round the corners */
    border-radius: 10%;
    /* center images in their columns */
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 2em;
    margin-left:.5em;
}

.active {
    color: red;
    border: 2px solid red;
}

.big {
    height: 200px; 
}