.ImageGrid {
    /* set it up as a grid with 3 columns, and a gap between images */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    
    /* center it on the page */
    width: 50%;
    margin: 5% auto;
}

.image-grid {
    /* set it up as a grid with 3 columns, and a gap between images */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    
    /* center it on the page */
    width: 50%;
    margin: auto;
}

img {
    /* standardize height */
    height: 150px;
    /* make everything square */
    aspect-ratio: 1;
    /* make sure image is cropped, not distorted */
    object-fit: cover;
    /* round the corners */
    border-radius: 10%;
}