* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

input {
  margin: auto;
  margin-bottom: 1.5em;
}

.form-inputs {
  text-align: right;
  width: 60%;
  margin: auto;
}

form {
  background-color:rgb(188, 251, 230);
  border-radius: 10px;
  margin: auto;
  width: 33%;
  padding: 1em 2em 1em 1em;
  border: 2px solid gray;
}

button {
  border-radius: 5px;
  font-size:large
}

.form-btn {
  padding: .5em;
  margin-bottom: 1.5em;
  /* background-color: rgb(188, 251, 230) */
}