* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin: auto;
  margin-left: 0.5em;
  border-radius: 5px;
  text-align: left;
  padding: 0.5em 0.35em;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(188, 251, 230);
  border-radius: 10px;
  margin: auto;
  width: 33%;
  padding: 1em 2em 1em 1em;
  border: 2px solid gray;
}

button {
  border-radius: 5px;
  font-size: large;
  display: block;
  margin: auto;
}

.form-btn {
  padding: 0.5em;
  background-color: rgb(196, 158, 226);
}
